@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html { height:100%; }

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Bebas Neue   ;
}

/* dans game.html*/

nav{
    display: flex;
}
.game-body{
    /* background-image: url('../sterimar_cat_nez_fragilise-1.jpg'); */
    background-image: url('../navires-militaires-bateaux-combat-combat-navire-missiles-bateaux-securite-navires-guerre-modernes-sous-marins-jeu-icones-cuirasses-armes-armee-bateau-militaire-navire-illustration-navire-force_229548-305.jpg');
    /* background-size: 50%; */
    /* background-size: 200px; */
    position: relative; 
    height: calc( 100vh - 100px);

}

.index-body{
    height: calc( 100vh- 100px);

}
h2{
    margin: 10px;
}


#enemy-fleet:active{
   /* Start the shake animation and make the animation last for 0.5 seconds */
   animation: shake 0.5s;

   /* When the animation is finished, start again */
   animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-10deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(10deg); }
    50% { transform: translate(-1px, 2px) rotate(-10deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-3deg); }
    80% { transform: translate(-1px, -1px) rotate(10deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-10deg); }
  }
  
  
  
  

.cell{
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    border:1px solid lightgrey;
    background-image: url('../sterimar_cat_nez_fragilise-1.jpg');
}



th{
    padding: 0 8px
}

table{

    border-collapse: collapse;
    margin: 10px;

}

.class-2{
    background: #8c545c
    ;
    color: #8c545c;
    background-image: url(../beateau\ de\ guerre.png);

}


.class-3{
    background: #55a9c7    ;
    color: #55a9c7



    
}

.class-4{
    background: #fbfbe5
    ;
    color: #fbfbe5

}

.class-5{
    background:#106890    ;
    color: #106890;



}

.aircraftLegend{
    color:#106890



}
.cruiserLegend{
    color: #fbfbe5
    ;
}
.submarineLegend{
    color :#55a9c7

}

/* .hit{
    background: red;
    color: red;


} */

.destroyerLegend{
    color: #8c545c

}

.top-instructions {
    height: fit-content;
    border: 2px solid #e7e6e1;
    border-radius: 10px;
    font-size: 1.5em;
    width: fit-content;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    background : #b8ccd8

}

.firstSentence{
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    animation: fastBlinker 1s linear infinite;

}

  
@keyframes fastBlinker {
    50% {
      opacity: 0;
    }
}


.cell.their{
    color: white
}
.cell.their.class-0{
color: transparent}

.section-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin : 0 0 20px 0
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #e7e6e1;
    box-shadow: 2px 5px 5px  darkgrey;
    border-radius: 10px;
    padding: 10px 60px;
    background : #b8ccd8
}

.hidden{
    display: none;
}

.x-ord{
    text-align:center;
    font-weight: bold;
}


.class-0{
    color: transparent;
    /* background :#021c3c */

}


.go-back-btn{
    /* border: 1px solid transparent; */
    /* background:  #8c545c; */
    padding: -50px; 
    /* margin: 30px 0 0 0; */
    text-decoration: none;
    color :#8c545c;
    font-size: 12em;
    font-weight: bold;
    position:absolute;
    left: 0;
    top: -40px;
    text-shadow: 1px 1px 2px white;
 
}

ul{
    list-style-type: none;

}


#popup{
    width : fit-content;
    height: fit-content;
    /* border: 2px solid transparent;

    box-shadow: 2px 5px 5px  darkgrey; */

    background: #8c545c;
    border-radius: 10px;
    color :#b8ccd8 ;
    font-size: 3em;
    /* position: absolute; */
    z-index : 10;
    /* text-shadow: 2px  2px white; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding : 20px 10px;
    text-align: center;
}

/* 

@keyframes bounce-in-bck {
    0% {
      -webkit-transform: scale(7);
              transform: scale(7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    /* 81% {
      -webkit-transform: scale(1.24);
              transform: scale(1.24);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    } */
    /* 95% {
      -webkit-transform: scale(1.04);
              transform: scale(1.04);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    } */
  /* } */ 
  

/* dans l'index*/

.let-s-play{
    /* padding: 50px 150px; */
    font-size : 5em;
    /* margin: 0px auto 30px auto;   */
    text-decoration: none;
    color : white;
    text-align: center;
    width: 300px;
    font-weight: bold;
    /* margin: 350px 0 0 0 */
    /* animation: fastBlinker 1s linear infinite; */

}

.let-s-play:hover{
    font-size : 6em;

}

.instructions{
    /* padding: 30px 0;
    margin: 30px auto; */
    width: 70%; 
    font-size: 2.5em;
    color : #b8ccd8;
    line-height: 130%;
}

.index-body{
    display: flex;
    flex-direction : column;
    background:  #01193d;
}

/* .main-title{ */
    /* padding: 30px 0;
    margin: 20px auto; */
    /* width: 40%; 
    font-size: 6em;
    text-align: center;
    font-weight: bold;
    color: white; */
    

.wrapper-index-body{
    /* margin : 40px; */
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;

}

#section-1{
    background : white;
    width: 100%;
    height: 300px;
    border-bottom: 2px solid #e7e6e1;
    box-shadow: 2px 10px 10px 0 darkgrey;
    text-align: center; 
}

#section-1 img{
    width: 600px;
    object-fit: cover;
    margin-top: -30px;
}

#section-2{
    background : #01193d;
    /* width: 100%;
    height: 420px; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    padding: 40px


}

